@font-face {
	font-display: swap;
	font-family: "Muller";
	src: url(../fonts/Muller/Muller-Trial-Regular.woff2) format('woff2'),
		url(../fonts/Muller/Muller-Trial-Regular.woff) format('woff');
	font-weight: 400;
}
@font-face {
	font-display: swap;
	font-family: "Muller";
	src: url(../fonts/Muller/Muller-Trial-Medium.woff2) format('woff2'),
		url(../fonts/Muller/Muller-Trial-Medium.woff) format('woff');
	font-weight: 500;
}
@font-face {
	font-display: swap;
	font-family: "Muller";
	src: url(../fonts/Muller/Muller-Trial-Bold.woff2) format('woff2'),
		url(../fonts/Muller/Muller-Trial-Bold.woff) format('woff');
	font-weight: 700;
}
@font-face {
	font-display: swap;
	font-family: "Roboto";
	src: url(../fonts/Roboto/Roboto-Regular.woff2) format('woff2'),
		url(../fonts/Roboto/Roboto-Regular.woff) format('woff');
	font-weight: 400;
}
@font-face {
	font-display: swap;
	font-family: "Roboto";
	src: url(../fonts/Roboto/Roboto-Medium.woff2) format('woff2'),
		url(../fonts/Roboto/Roboto-Medium.woff) format('woff');
	font-weight: 500;
}
@font-face {
	font-display: swap;
	font-family: "Roboto";
	src: url(../fonts/Aldrich-Regular.woff2) format('woff2'),
		url(../fonts/Aldrich-Regular.woff) format('woff');
	font-weight: 400;
}